

/* Global Styles  */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body{
    font-family: 'Work Sans', sans-serif;
    background-color: rgba(255, 144, 14, 0.1);
}
.sections{
    background-color: #FFFFFF;
}
a:link{
    color:#424242;
}
a:visited{
    color: #424242;
}
.container{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
}


/* Nav bar styles */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
nav h2{
    font-weight: 700;
    font-size: 30px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 80px;
}

/* Introduction styles */
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
.intro-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.intro-title{
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    color: #131313;

}
.intro-description{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    width: 850px;
    max-width: 100%;
    color: #727272;
}
.btn-primary{
    width: 180px;
    height: 64px;
    margin: 0 auto;
    background-color: #FF900E;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
}
.banner-img{
    padding: 40px 0;
}

/* features styles  */

.features{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;

    
}
.feature-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.feature-items{
    width: 537px;
    height: 304px;
}
.feature-title{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    padding: 12px 0;
}
/* Title text style  */

.style-1{
    color: #131313;
    font-weight: 700;
}
.style-2{
    color: #FF900E;
    font-weight: 700;
}

/* ===========*=========== */
.feature-dsc{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 12px 0;
}

.feature-btn{
    margin-top: 12px;
}

/* Features Items  */


.list-items{
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.item{
    width: 35%;
    position: relative;
}
.item-img{
    width: 35%;
    position: relative;
}
.main-item{
    border-left: 5px solid #FF900E;
}
.item-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding: 12px 10px;

}
.sub-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
}
.item-dsc{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 12px 0;
}
.item-sub{
    width: 514px;
    height: 130px;
    padding: 7px;
    box-shadow: 0px 0px 16px 3px #0000001f;
    border-radius: 10px;
}
.item-sub h4{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    padding: 5px 0;
}
.item-sub p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 5px 0;
}
.list-btn{
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 25px;
    position: absolute;
    top: 90%;
    left: -10%;
}
.list-btn span{
    font-weight: 700;
    font-size: 65px;
}

/* Facts Section  */

.facts-section{
    padding-top: 170px;
}
.facts-dsc{
    margin: 0 15%;
}
.facts-dsc h2{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.facts-dsc p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.fact-items{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;
}
.fact-items img{
    height: 40px;
    width: 40px;
}

.facts{
    height: 240px;
    width: 240px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #FF900E;
}

.facts h2{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.facts p{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}