

/* Global Styles  */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body{
    font-family: 'Work Sans', sans-serif;
    background-color: rgba(255, 144, 14, 0.1);
}
.sections{
    background-color: #FFFFFF;
}
a:link{
    color:#424242;
}
a:visited{
    color: #ffffff;
}
.container{
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
}
.box{
    width: 50%;
}


/* Nav bar styles */

@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #424242;
  height: 50px;
  padding: 1em;
  margin: 0 auto;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #424242;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
/* Introduction styles */
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
.intro-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.intro-title{
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    color: #131313;

}
.intro-description{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    max-width: 850px;
    color: #727272;
}
.btn-primary{
    width: 180px;
    height: 64px;
    margin: 0 auto;
    background-color: #FF900E;
    border: 2px solid #ff900e;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #fff3e6;
    color: #ff900e ;


}
.banner-img{
    padding: 40px 0;
}

/* features styles  */

.features{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;

    
}
.feature-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.feature-title{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    padding: 12px 0;
    width: 100%;
    max-width: 400px;
}
/* Title text style  */

.style-1{
    color: #131313;
    font-weight: 700;
}
.style-2{
    color: #FF900E;
    font-weight: 700;
}

/* ===========*=========== */
.feature-dsc{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 12px 0;
}

.feature-btn{
    margin-top: 12px;
}

/* Features Items  */


.list-items{
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.item{
    position: relative;
}
.item-img{
    position: relative;
}
.main-item{
    border-left: 5px solid #FF900E;
}
.item-title{
    font-weight: 700;
    font-size: 45px;
    text-align: inherit;
    color: #131313;
    padding: 12px 10px;

}
.sub-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
}
.item-dsc{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 12px 0;
}
.item-sub{
    max-width: 514px;
    width: 100%;
    height: 160px;
    padding: 7px;
    box-shadow: 0px 0px 16px 3px #0000001f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item-sub h4{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    padding: 5px 0;
}
.item-sub p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 5px 0;
}
.list-btn{
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 25px;
    position: absolute;
    top: 90%;
    left: -10%;
}
.list-btn span{
    font-weight: 700;
    font-size: 65px;
}

/* Facts Section  */

.facts-section{
    padding-top: 200px;
}
.facts-dsc h2{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-align: left;
}
.facts-dsc p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.fact-items{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;
}
.fact-items img{
    height: 40px;
    width: 40px;
}

.facts{
    height: 240px;
    width: 240px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #FF900E;
    transition: width 1s ease .3s, height 1s ease .3s, transform 1s;  /* animation */
}

.facts:hover{
    transform: rotate(360deg); /* animation */
    
}

.facts h2{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.facts p{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* Our Sponsore */

.sponsore-dsc{
    text-align: center;
    padding-top: 100px;
}
.sponsore-dsc h2{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding: 10px;
}
.sponsore-dsc p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 10px;
}
.sponsore-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    filter: grayscale(1);
    padding: 50px;
}
/* Subscribe to Our Newsletter */
.updates{
    padding-top: 80px;
}
.subscribe{
    background-color: #FFF4E7;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.update-button{
    background-color: #FF900E;
    font-weight: 500;
    font-size: 16px;
    color: #FFF4E7;
    border-radius: 0px 5px 5px 0px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.email{
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    border: none;
    width: 275px;
    padding: 12px;
}
.update-dsc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
    text-align: center;
}
/* footer section */

footer{
    background-color: #FFFFFF;
    padding: 100px 0;
}
.footer{
    background: #FFF4E7;
    border-radius: 8px;
    width: 100%;
    height: 100px;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.update-dsc h2{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding: 10px;
}
.update-dsc p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 10px;
}

/*Mobile Responsive  */

@media (max-width: 576px) {
    .box{
        width: 100%;
    }

    /* Menu  */
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #fff3e6;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      background-color: #FF900E;
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
/* Introduction styles */
    .intro{
        margin-top: 50px;
    }
    .intro-title{
        font-size: 35px;
    }
    .banner-img{
        width: 100%;
    }
    /* Features Section  */

    .features{
        flex-direction: column;
    }
    .feature-images{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-images img{
        display: block;
        margin: 0 auto;
    }
   /* Items section  */

   .list-items{
        flex-direction: column;
    }
    .item-img img{
         width: 100%;
    }
    .list-btn{
        height: 150px;
    }
/* Facts section */

    .fact-items{
        flex-direction: column;
        align-items: center;
    }

/* Update  */
    .email{
        width: 60%;
    }

/* Sponsore Section */
    .sponsore-list{
        flex-direction: column;
        gap: 40px;
    }
/* Footer */
    .footer{
        padding: 10px;
        text-align: center;
    }

}


  

